:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primery-bg-color: #2f303a;
  --secondary-bg-color: #f5f4fa;
  --primery-white-color: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primery-text-color);
  background-color: var(--primery-white-color);
}

.list {
  list-style: none;
}

/* колір основного тексту #757575 */
/* колір тексту заголовків #212121 */
/* колір фону навігації та тексту у шапці #FFFFFF */
/* колір фону у шапці та підвалі #2F303A */
/* колір фону команди #F5F4FA */
/* колір акценту #2196F3 */
/* колір чорний #000000 */
/* колір контактів в підвалі 
rgba(255, 255, 255, 0.6) */

/* Site nav */
.nav {
  background-color: #ffffff;
}
.logo {
  color: var(--accent-color);
  text-decoration: none;

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-dark {
  color: #000000;
}

.site-nav-link {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}
.site-nav-link.current {
  color: var(--accent-color);
}
.contact-nav-link {
  color: var(--primery-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contact-nav-link:hover,
.contact-nav-link:focus {
  color: var(--accent-color);
}

/* Hero */
.hero {
  background-color: var(--primery-bg-color);
}
.hero-title {
  color: var(--primery-white-color);

  width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Buttons */
.hero-button {
  background-color: var(--accent-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  color: var(--primery-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
  color: var(--primery-white-color);

  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* Section */
.section-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Features */
.features-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Team */
.section-team {
  background-color: var(--secondary-bg-color);
}
.team-title {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.team-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* Footer */
.footer {
  background-color: var(--primery-bg-color);
}
.contact-address {
  color: var(--primery-white-color);
  text-decoration: none;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.contact-link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

/* Portfolio */
.logo-light {
  color: var(--primery-white-color);
}

.portfolio-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
.button {
  font-family: inherit;
}
.filter-button {
  background-color: var(--secondary-bg-color);
  color: var(--title-text-color);

  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  cursor: pointer;
}
.filter-button:hover,
.filter-button:focus {
  color: var(--primery-white-color);
  background-color: var(--accent-color);
}
